section.screen.screen-hello
  header
    h1 Hi!

  section.login-form
    form
      header.control-group.error
        label(for="login") type your name
        input(type="text", id="login", name="name").name

      footer
        input(type="submit", value="OK").submit.btn.btn-primary.btn-large.disabled
