section.screen.screen-send-link
  h4 Send this link to a friend

  input(type="text", placeholder="--- example link ---").send-link.input-huge

  p KEEP CALM and wait on this page until your opponent connect.
  p After that game will start automatically!