section.screen.screen-versus
  section.versus-loading-panel.alert.alert-block
    span.label Loading oponenets... Please wait
    section.progress.progress-striped.active
      section.bar(style="width: 5%")
    div.clearfix

  section.opponents
    h1.left-opponent Kamil
    span.minus vs.
    h1.right-opponent Piotr