section.screen.screen-versus
  section.versus-loading-panel.alert.alert-block
    span.label Loading oponenets... Please wait
    section.progress.progress-warning.progress-striped.active
      section.bar
    div.clearfix

  section.opponents
    h1.left-opponent --- opponent #1 ---
    span.minus vs.
    h1.right-opponent --- opponent #2 ---