section.screen.screen-versus
  section.opponents.centered-container
    h1.left-part.left-opponent --- opponent #1 ---
    span.minus vs.
    h1.right-part.right-opponent --- opponent #2 ---

  section.versus-loading-panel.alert.alert-block
    span.label Loading opponents... Please wait
    section.progress.progress-warning.progress-striped.active
      section.bar
    div.clearfix