section.screen.screen-game
  header.play-bar
    section.pagination
      ul
        li
          span Proces gry:
        li
          a.current-page
        li
          span z
        li
          a.total-page

  section.game-loading-panel.alert.alert-block
    span.label Loading movies... Please wait
    section.progress.progress-striped.active
      section.bar --- seconds ---
    div.clearfix

  section.videos-wrapper
    section.videos

  footer.answers-wrapper
    section.answer-bar.alert.alert-info
      p Choose the answer:
    section.answer-watch-movie-bar.alert
      span.label Time elapsing:
      section.watch-movie-time-progress.progress.progress-danger.active
        section.bar --- seconds ---
      div.clearfix

    section.answers.alert.alert-block
    section.clearfix