section.screen.screen-game
  section.opponents.centered-container
    h1.left-part.left-opponent --- opponent #1 ---
    span.minus vs.
    h1.right-part.right-opponent --- opponent #2 ---

  section.game-loading-panel.alert.alert-block
    span.label Loading movies... Please wait
    section.progress.progress-striped.active
      section.bar
    div.clearfix

  header.play-bar.centered-container
    h1.left-part.current-page
    span.minus /
    h1.right-part.total-page

  section.videos-wrapper
    section.videos

  footer.answers-wrapper
    section.answer-bar.alert.alert-info
      p Choose the answer:
    section.answer-watch-movie-bar.alert.alert-success
      span.label.label-success Time elapsing:
      section.watch-movie-time-progress.progress.progress-warn.active
        section.bar
      div.clearfix

    section.answers.alert.alert-block
    section.clearfix