section.screen.screen-results

  section.success-bar.alert.alert-success
    a.close ×
    h1 Thanks for playing!
    br
    p Now you have time to vote for us!
    iframe(src="http://nodeknockout.com/iframe/dumplings", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
    br
    br
    p See the Highscores Board:
      a.js-show-highscore.btn.btn-larger.btn-info Highscore Board


  header
    h1 Game Results

  section.answers-status
    table.table.table-bordered.table-striped
      thead
        tr
          th Player name
          th Correct answers
          th Competition time

      tbody
        //- tr
          //- td
            //- a.btn
          //- td
            //- a.btn btn-large
          //- td
            //- a.btn
              //- i.icon-cog
