section.screen.screen-thanks
  header
    h1 Thanks Bro!

  section.waiting-for-results
    p Waiting for a few seconds to show results... Please Wait
    section.progress.progress-striped.active
      section.bar(style="width: 50%") 50%
    div.clearfix