section.screen.screen-results
  h1 Game Results
  ul
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
