section.screen
  h1 Highscore
  ul
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
    li
      a Mietek
      span 3/5
