section.screen.screen-highscore
  h1 Highscore

  section.highscore
    table.table.table-bordered.table-striped
      thead
        tr
          th Player name
          th Correct answers
          th Competition time

      tbody
        //- tr
          //- td
            //- a.btn
          //- td
            //- a.btn btn-large
          //- td
            //- a.btn
              //- i.icon-cog
