extends layout

block content
  div.page-header
    h1 Welcome to TrailerPOP!

  div(id='my-video')
  script
    jwplayer('my-video').setup({
        file: 'http://www.youtube.com/watch?v=c0WcHbXUVVM',
        width: '480',
        height: '270'
    });
