extends layout

block content
  section.page
    header.page-header
      h1 Trailer Challenge

      section.right
        a.js-show-rules.btn.btn-larger.btn-inverse
          i.icon-random.icon-white
          &nbsp;&nbsp;How to play

        a.js-show-highscore.btn.btn-larger.btn-info
          i.icon-ok.icon-white
          &nbsp;&nbsp;Highscore Board

        a.js-start-new-game.btn.btn-larger.btn-danger
          i.icon-cog
          &nbsp;&nbsp;New Game

    iframe(id="counter", src="http://nodeknockout.com/iframe/dumplings", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")

    section.page-body.well
      section.screens
        include screen/1_hello
        include screen/2_send_link
        include screen/3_versus
        include screen/4_game
        include screen/5_results

      section.layers
        include layer/highscore
        include layer/rules

    section.messages

    footer.page-footer
      p Copyright &copy; 2012
        img(src="/img/chrome.png", alt="Only for the best").chrome-icon
        span.label.label-warning.chrome-label Tested for Chrome

      ul.pull-right
        li
          a(href="http://kamilzaleski.com/", rel="outerlink") @kamil
        li
          a(href="http://piecioshka.pl/", rel="outerlink") @piecioshka

      p.pull-right Authors:
      div.clearfix
