extends layout

block content
  section.page
    header.page-header
      h1 Trailer Challenge
      iframe(src="http://nodeknockout.com/iframe/dumplings", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")

      img(src="/img/chrome.png", alt="Only for the best").chrome-icon
      span.label.label-warning.chrome-label Only for Chrome

      section.right
        a.js-show-rules.btn.btn-larger.btn-inverse
          i.icon-random.icon-white
          &nbsp;&nbsp;Rules

        a.js-show-highscore.btn.btn-larger.btn-info
          i.icon-ok.icon-white
          &nbsp;&nbsp;Highscore

        a.js-start-new-game.btn.btn-larger.btn-danger
          i.icon-cog
          &nbsp;&nbsp;New Game

    section.page-body.well
      include screen/1_hello
      include screen/2_send_link
      include screen/3_versus
      include screen/4_game
      include screen/5_results
      include screen/highscore
      include screen/rules

    section.messages

    footer.page-footer
      p Copyright &copy; 2012
      ul.pull-right
        li
          a(href="http://kamilzaleski.com/", rel="outerlink") @kamil
        li
          a(href="http://piecioshka.pl/", rel="outerlink") @piecioshka
      p.pull-right Authors:
      div.clearfix
