extends layout

block content
  section.page
    header.page-header
      h1 Welcome to TrailerPOP!
      iframe(src="http://nodeknockout.com/iframe/dumplings", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")

    section.page-body.well
      include screen/1_hello
      include screen/2_send_link
      include screen/3_versus
      include screen/4_game
      include screen/5_thanks
      include screen/6_results
      include screen/7_highscore

    footer.page-footer
      p Copyright &copy; 2012
      ul.pull-right
        li
          a(href="http://kamilzaleski.com/") @kamil
        li
          a(href="http://piecioshka.pl/") @piecioshka
      p.pull-right Authors:
      div.clearfix