doctype 5
html
  head
    title= title
    != css('app')
    script src='/socket.io/socket.io.js'
    != js('app')

    script(src="/jwplayer/jwplayer.js")
    script jwplayer.key="wwi8jt7fgO2QBzThVadYKgO7PmUE6SQioHNYLA=="
  body
    block content
