doctype 5
html
  head
    title= title
    != css('app')
    script
      var Config = {
        socket : document.location.host + ":#{appPort}",
        env: "#{config.env}"
      };
    != js('app')

    script(src="/jwplayer/jwplayer.js")
    script jwplayer.key="wwi8jt7fgO2QBzThVadYKgO7PmUE6SQioHNYLA=="

    link(href='http://fonts.googleapis.com/css?family=Bowlby+One+SC', rel='stylesheet', type='text/css')

  body
    block content

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36241303-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
