section.layer.layer-highscore.alert.alert-block
  a.close ×
  h1 Highscore

  section.highscore
    table.table.table-bordered.table-striped
      thead
        tr
          th Player name
          th Score

      tbody
        //- tr
          //- td
            //- a.btn
          //- td
            //- a.btn btn-large
          //- td
            //- a.btn
              //- i.icon-cog
