section.layer.layer-rules.alert.alert-block
  section.well
    a.close ×
    h1 Rules

    section.rules
      p
        | Using&nbsp;
        span.label.label-warning Trailer Challenge
        |  you can easily prove who is the biggest movie
        | maniac.
        br
        | Huge trailers database is waiting to challenge you and your friends!

      p
        | Just enter your name and send provided link to someone you want to beat
        | with your movie knowledge! See you guys on high scores board!

      h4 To play ( one friend required ):

      ol
        li Type your name
        li Now copy & send link of your game to your Player#2
        li When Player#2 arrive the game beigns!
        li Now you have to guess 5 movie titles in limited time.
        li Who is more correct in his guessing win!

      p All your experience is synchronised with other player as much as we can.

      h4 Please play on Google Chrome
      small may not work on other browsers ( leak of tests )

      ul
        li YouTube API
        li Express, Socket.io, Mongoose, Underscore.js, Jade, async
        li
          |JWPlayer,
          a(href="http://pklib.com/").label.label-success pklib
          | , jQuery
        li Twitter Bootstrap ( Cyborg from bootswatch.com )
        li VIM, Lion and awesome wm :)