.page {
  width: 960px;
  margin: 0 auto;
}

/******************************************************************************/
/* BODY */
/******************************************************************************/

.page-header h1 {
  display: inline;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.page-header .chrome-icon {
  vertical-align: text-bottom;
  display: inline-block;
}

.page-header .chrome-label {
  display: inline;
  vertical-align: super;
  margin: 0 0 0 20px;
}
.page-header .btn {
  margin: 0 10px 0 0;
}
.page-header .btn:last-child {
  margin: 0;
}

/******************************************************************************/
/* BODY */
/******************************************************************************/

.page-body {
  position: relative;
}

.page-footer {
  padding: 0 0 60px 0;
}

.page-footer p {
  display: inline;
}

.page-footer ul {
  display: inline;
  list-style: none;
  margin: 0 0 0 5px;
}

.page-footer ul li {
  display: inline;
  margin: 0 5px 0 0;
}