.page {
  width: 960px;
  margin: 0 auto;
}

.page-header h1 {
  display: inline;
  margin: 0 20px 0 0;
}

#count {
  color: #fff;
}

.page-header .chrome-icon {
  vertical-align: text-bottom;
  display: inline-block;
}

.page-header .chrome-label {
  display: inline;
  vertical-align: super;
  margin: 0 0 0 20px;
}

.page-body {
  position: relative;
}

.page-footer {
  padding: 0 0 60px 0;
}

.page-footer p {
  display: inline;
}

.page-footer ul {
  display: inline;
  list-style: none;
  margin: 0 0 0 5px;
}

.page-footer ul li {
  display: inline;
  margin: 0 5px 0 0;
}