.screen {
  display: none;
  width: 100%;
  position: relative;
}

.layer {
  width: 650px;
  position: absolute;
  left: 150px;
  top: -1000px;
  padding: 10px;
}

.layer .well {
  margin: 0;
  padding: 10px 30px 10px 10px;
}

.right {
  float: right;
}

.input-huge {
  width: 770px;
  text-align: center;
  color: #000 !important;
  font-size: 25px !important;
  line-height: 25px !important;
  padding: 10px !important;
}

.centered-container {
  text-align: center;
  margin: 0 0 20px 0;
}

.centered-container .left-part,
.centered-container .right-part {
  display: inline-block;
  width: 45%;
}

.centered-container .left-part { text-align: right; padding-right: 5px; }
.centered-container .right-part { text-align: left; padding-left: 5px; }